<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>
<body>
    <div>
        <form action="/result" method="post">
            Your Name: <input type="text" name="name">
            Dojo Location: <select name="location">
                                <option value="Mountain View">Mountain View</option>
                                <option value="San Jose">San Jose</option>
                                <option value="Los Angeles">Los Angeles</option>
                           </select>
            Favorite Language: <select name="location">
                                    <option value="Javascript">Javascript</option>
                                    <option value="Ruby">Ruby</option>
                                    <option value="PHP">PHP</option>
                               </select>
        </form>
    </div>
</body>
</html>